.lazy-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .lazy-image-preload {
        position: absolute;
        z-index: 1;
        top: 0; bottom: 0;
        right: 0; left: 0;
        background-size: cover;
    }
    .lazy-image-hd {
        position: absolute;
        z-index: 2;
        top: 0; bottom: 0;
        right: 0; left: 0;
        background-size: cover;
        opacity: 0;
        transition: opacity 0.5s ease;
        &.fade-in {
            opacity: 1;
        }
    }
}