.Quartier {
    padding-top: 75px;
    .quartier-nav {
        position: fixed;
        right: 0;
        top: 0;
        width: 50px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        ul {
            p {
                display: none;
            }
        }
    }
    .map-animation-container {
        height: 2000px;
        .feature-container {
            float: left;
            width: 50%;
            height: 100px;
            .feature {
                height: 90vh;
                width: 200px;
                background-color: blue;
                margin: 50px 0 50px 0;
            }
        }
        .map-container {
            right: 50px;
            width: 40%;
            height: 100vh;
            position: fixed;
        }
    }
}