.Quartier {
    .feature-container {
        .lafontaine {
            margin-top: 100px;
            margin-bottom: 100px;
            .title {
                position: relative;
                height: 200px;
                h1 {
                    font-weight: 300;
                    position: absolute;
                    margin: 0;
                    padding: 0;
                }
                .background-title {
                    left: 75px;
                    bottom: 0px;
                    opacity: 0.1;
                    font-size: 170px;
                    white-space: nowrap;
                    color: #333333;
                }
                .foreground-title {
                    left: 50px;
                    bottom: 5px;
                    font-size: 75px;
                }
            }
            .content {
                width: 100%;
                box-sizing: border-box;
                display: flex;
                justify-content: space-around;
                padding: 50px;
                .img-container {
                    width: 50%;
                    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                    transition: 0.25s box-shadow;
                    margin-right: 25px;
                }
                p {
                    width: 50%;
                    padding: 0;
                    margin: 0 0 0 25px;
                    line-height: 1.8;
                }
            }
        }
    }
}