.Quartier {
    .feature-container {
        .feature {
            padding: 50px;
            box-sizing: border-box;
            display: inline-block;
            .title {
                position: relative;
                height: 200px;
                h1 {
                    font-weight: 300;
                    position: absolute;
                    margin: 0;
                    padding: 0;
                }
                .background-title {
                    left: 75px;
                    bottom: 0px;
                    opacity: 0.1;
                    font-size: 170px;
                    white-space: nowrap;
                    color: #333333;
                }
                .foreground-title {
                    left: 50px;
                    bottom: 5px;
                    font-size: 75px;
                }
            }
        }

        .plateau {
            .img-container {
                position: relative;
                height: 600px;
                width: 100%;
                padding-top: 50px;
                box-sizing: border-box; 

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }

                p {
                    width: 50%;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 50px;
                    box-sizing: border-box;
                    white-space: normal;
                    background-color: #F3F3F3;
                    line-height: 1.8;
                }

            }
        }

        .parc-lafontaine {
            .text-container {
                width: 100%;
                white-space: normal;

                p {
                    margin: auto;
                    padding: 50px;
                    width: 750px;
                    text-align: center;
                    line-height: 1.8;
                    box-sizing: border-box;
                }
            }

            .img-carousel {
                position: relative;
                height: 500px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;

                .img-container {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                    transition: 0.25s;
                }

                button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background: none;
                    border-radius: 50%; border: none;
                    margin: 10px;
                    transition: background-color 0.25s, opacity 0.25s;
                    &:focus {
                        outline: 0;
                    }
                    i {
                        padding: 20px;
                        color: #E3E3E3;
                    }
                    &:hover {
                        i {
                            color: #333333;
                        }
                        background-color: #E3E3E3;
                    }
                }

                .left {
                    left: 50px;
                }
                .right {
                    right: 50px;
                }
            }
        }

        .avenue-montroyal {

            .text-container {
                width: 100%;
                white-space: normal;

                p {
                    margin: auto;
                    padding: 50px;
                    width: 750px;
                    text-align: center;
                    line-height: 1.8;
                    box-sizing: border-box;
                }
            }

            .img-container {
                position: relative;
                height: 500px;
                width: 100%;
                box-sizing: border-box; 

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }

                p {
                    width: 50%;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 50px;
                    box-sizing: border-box;
                    white-space: normal;
                    background-color: #F3F3F3;
                    line-height: 1.8;
                }

            }

        }

        .parc-mont-royal {
            .text-container {
                width: 100%;
                white-space: normal;

                p {
                    margin: auto;
                    padding: 50px;
                    width: 750px;
                    text-align: center;
                    line-height: 1.8;
                    box-sizing: border-box;
                }
            }
            
        }

        .transport {

            .intro-text-container {
                width: 100%;
                white-space: normal;

                p {
                    margin: auto;
                    padding: 50px;
                    width: 775px;
                    text-align: center;
                    line-height: 1.8;
                    box-sizing: border-box;
                }
            }

            .stm-text-container {
                display: flex;
                p {
                    flex-shrink: 0;
                    width: 80%;
                    padding: 50px;
                    box-sizing: border-box;
                    line-height: 1.8;
                }
            }

            .img-container {
                position: relative;
                height: 500px;
                width: 100%;
                box-sizing: border-box; 

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }

                p {
                    width: 55%;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 50px;
                    box-sizing: border-box;
                    white-space: normal;
                    background-color: #F3F3F3;
                    line-height: 1.8;
                }

            }
        }
    }
}