.Footer {
    width: 100%;
    background-color: #F8F8F8;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;

    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}