.SingleUnit {
    .header-container {
        position: relative;
        height: 500px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0; left: 0;
            object-fit: cover
        }

        h1 {
            position: absolute;
            bottom: 25px; left: 25px;
            color: white;
            font-weight: 500;
            font-family: 'Playfair Display', sans-serif;
        }
    }

    .general-description-section {
        margin: 50px;
        display: flex;
        justify-content: center;
        font-family: 'Open-sans', sans-serif;
        div {
            display: inline-block;
        }
        .general-info {
            font-size: 17px;
            margin-right: 50px;
            width: 600px;
            height: 300px;
            line-height: 1.6;
        }
        .general-description {
            margin-right: 50px;
            width: 400px;
            height: 300px;
            h2 {
                margin: 0 0 15px 0;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    padding: 10px;
                    &:first-of-type {
                        padding-top: 0;
                    }
                    i {
                        padding-right: 10px;
                    }
                }
            }

        }
        .features {
            width: 200px;
            height: 300px;
            border: 1px solid black;
        }
    }

    .room-description-section { 
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        .room-table {
            margin: 25px;
            height: 100%;
            table {
                font-family: 'Open-Sans', sans-serif;
                .title-r {
                    font-weight: 600;
                }
                tr, td {
                    padding: 10px 20px 10px 20px;
                }
            }
        }
        .plan {
            margin: 25px;
            position: relative;
            height: 100%;
            width: 30%;
            img {
                position: absolute;
                top: 0; left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .contact-cta-section {
        width: 100%;
        p {
            text-align: center;
        }
        a {

        }
    }
}