.SingleUnit {
    .header-container {
        position: relative;
        height: 500px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0; left: 0;
            object-fit: cover
        }

        .quick-info {
            position: absolute;
            left: 50px;
            bottom: 0px;
            background-color: #7f9470;
            transform: translate(0, 50%);
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            h1 {
                display: block;
                margin: 0; 
                padding: 20px 40px 20px 40px;
                color: white;
                font-weight: 500;
                font-size: 35px;
                font-family: 'Playfair Display', sans-serif;
            }
        }

        
    }

    .general-description-section {
        margin: 150px 150px 100px 150px;
        display: flex;
        justify-content: center;
        font-family: 'Open-sans', sans-serif;
        div {
            display: inline-block;
        }
        .general-info {
            margin-right: 50px;
            // margin-left: 50px;
            color: #333333;
            font-size: 17px;
            width: 600px;
            line-height: 1.8;
        }
        .features {
            margin-left: 50px;
            // margin-right: 50px;
            flex-shrink: 0;
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    padding: 0 0 15px 0;
                    i {
                        padding: 10px;
                        background-color: #e3e3e3;
                        color: #333333;
                        border-radius: 50%;
                    }
                    p {
                        display: inline;
                        font-size: 17px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    .room-description-section { 
        width: 100%;
        display: flex;
        justify-content: center;
        .room-table {
            margin-right: 25px;
            table {
                font-family: 'Open-Sans', sans-serif;
                .title-r {
                    font-weight: 600;
                }
                tr, td {
                    padding: 10px 20px 10px 20px;
                }
            }
        }
    }

    .location-description-section {
        position: relative;
        margin-top: 100px;
        margin-bottom: 125px;
        background-image: url(/images/placeholder-map.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        width: 100%;
        .score-container {
            position: absolute;
            right: 50px;
            bottom: -25px;
            background-color: #e3e3e3;
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            .score-paragraph {
                width: 250px;
                padding: 25px;
                text-align: center;
                margin: 0;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                font-family: 'Open Sans', sans-serif;
                li {
                    padding-bottom: 15px;
                    text-align: center;
                    i {
                        border-radius: 50%;
                        color: white;
                        background-color: #1E80BC;
                        padding: 10px;
                    }
                    p {
                        display: inline;
                        padding-left: 15px;
                    }
                }
            }
            a {
                width: 100%;
                background-color: #7f9470;
                color: white;
                text-decoration: none;
                padding: 15px;
                box-sizing: border-box;
                font-family: 'Open-Sans', sans-serif;
                display: block;
                text-align: center;
            }
        }
    }

    .contact-cta-section {
        width: 100%;
        margin-bottom: 100px;
        p {
            text-align: center;
            font-family: 'Playfair Display', sans-serif;
            margin: 0 200px 0 200px;
            font-size: 30px;
        }
        .link-container {
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                margin: 25px 0 25px 0;
                padding: 20px 30px 20px 30px;
                font-size: 20px;
                background-color: #7f9470;
                color: white;
                font-family: 'Open-Sans', sans-serif;
                -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
        }
    }
}