.Navbar {
    position: sticky;
    top: 0; left: 0;
    z-index: 9999;

    height: 100px;
    padding-bottom: 0;
    width: 100%;
    background-color: white;

    transition: all 0.5s;

    .logo-container {
        float: left;
        height: 100%;
        width: 200px;
        padding-right: 50px;

        img {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            object-fit: contain;
            padding: 20px;
        }
    }

    .links-container {
        position: relative;
        height: 100%;
        overflow: hidden;

        ul {
            position: absolute;
            top: 50%; left: 0;
            transform: translate(0, -50%);
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                a {
                    font-family: 'Open Sans', sans-serif;
                    color: #404040;
                    text-decoration: none;
                    padding: 0 25px 0 25px;
                    font-weight: 300;
                    transition: padding 0.25s, font-weight 0.25s;
                    &:hover {
                        font-weight: 500;
                        padding: 0 35px 0 35px;
                    }
                }
                &.active {
                    a {
                        color: black;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    

    &.active {
        height: 75px;
        margin-bottom: 50px;
        background-color: white;
    }
}