@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

body {
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .content {
        //
        height: 1000px;
        //
    }
}

h1 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #555555;
}

i {
    box-sizing: content-box !important;
}

// ROUTE TRANSITION CSS

.page {
    position: absolute;
    top: 83.3px;
    left: 0;
    width: 100vw;
    overflow-x: hidden;
}
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 750ms;
}


.slide-appear,
.slide-enter {
    transform: translate(100%);
}

.slide-appear-active,
.slide-enter.slide-enter-active {
    transform: translate(0%);
    transition: transform 750ms ease-in-out;
}

.slide-exit {
    transform: translate(0%);
}

.slide-exit.slide-exit-active {
    transform: translate(-100%);
    transition: transform 750ms ease-in-out;
}