@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

body {
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .content {
        //
        height: 1000px;
        //
    }
}

h1 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #555555;
}