.Home {
    .home-header {
        width: 100%;
    
        .home-carousel {
            position: relative;
            width: 100%;
            height: 600px;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0; left: 0;
                object-fit: cover;
            }
        }
    }
    .home-header-intro {
        padding-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            width: 400px;
            font-size: 50px;
            color: #333333;
            font-weight: 300;
            margin: 25px;
        }
        ul {
            margin: 25px;
            padding: 0;
            list-style-type: none;
            li {
                padding: 10px 0 10px 0;
                i {
                    padding-right: 15px;
                    color: #7F9470;
                }
                p {
                    display: inline;
                }
            }
        }
    }
    .map-container {
        position: relative;
        margin-top: 150px;
        width: 100%;
        height: 400px;
        .contact-section-container {
            position: absolute;
            top: -62.5px;
            right: 50px;
            height: 550px;
            width: 300px;
            background-color: #F8F8F8;
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            .contact-section-items {
                padding-bottom: 75px;
                height: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                ul {
                    list-style-type: none;
                    margin-bottom: 0;
                    li {
                        padding: 15px 0 15px 0;
                        i {
                            padding: 10px;
                            border-radius: 50%;
                            background-color: #E3E3E3;
                        }
                        p {
                            margin-left: 10px;
                            display: inline;
                        }
                    }
                }
                ul.contact-info {
                    background-color: #E3E3E3;
                }
                .directions {
                    display: block;
                    width: 90%;
                    margin: 0 auto 0 auto;
                    padding: 10px 15px 10px 15px;
                    background-color: transparent;
                    border: 1px solid #4285F4;
                    color: #4285F4;
                    text-decoration: none;
                    i {
                        padding-right: 15px;
                    }
                    p {
                        display: inline;
                        color: #4285F4;
                    }
                }
            }
            .cta {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 75px;
                background-color: #7F9470;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    color: white;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        
    }
    // @media only screen and (max-width: 1080px) {
    //     .map-container {
            
    //     }
    // }
    @media only screen and (max-width: 500px) {
        .map-container {
            margin-bottom: 550px;
            .contact-section-container {
                width: 100%;
                top: 400px;
                left: 0;
                .contact-section-items {
                    .directions {
                        width: 300px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .Home {
        .home-header-intro {
            display: block;
            h1 {
                margin: 0 auto 50px auto;
                width: 500px;
                text-align: center;
            }
            ul {
                width: 410px;
                margin: auto;
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .Home {
        .home-header-intro {
            display: block;
            h1 {
                width: 300px;
            }
            ul {
                width: 300px;
            }
        }
    }
}