.Home {
    .home-quartier {
        margin-top: 100px;
        width: 100%;

        .video-container {
            width: 100vw;
            padding: 50px;
            box-sizing: border-box; 
            height: 58.25vh;
            margin: auto;
            iframe {
                width: 100%;
                height: 100%;
            }
        }

        .title-section {
            position: relative;
            width: 100%;
            height: 300px;

            .background-title {
                margin: 0;
                position: absolute;
                left: 50%; 
                transform: translate(-50%);
                top: 0px;
                z-index: -1;
                color: #333333;
                opacity: 0.1;
                font-size: 200px;
                font-weight: 300;
                white-space: nowrap;
            }
            .title {
                margin: 0;
                position: absolute;
                left: 50%; 
                transform: translate(-50%);
                top: 150px;
                z-index: 1;
                color: black;
                font-size: 75px;
                font-weight: 400;
            }
        }

        .link-container {
            text-align: center;
            a {
                width: 400px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                padding: 0px;
                padding: 10px 25px 10px 25px;
                p {
                    display: inline;
                    font-weight: 500;
                    font-size: 30px;
                    padding-right: 15px;
                    transition: 0.25s;
                    color: #7F9470;
                    border-bottom: solid 1px #7F9470;
                }
    
                cursor: pointer;
            }
            &:hover {
                a {
                    p {
                        padding-right: 20px;
                    }
                }
            }
        }
        
    }
}

@media only screen and (max-width: 1050px) {
    .Home {
        .title-section {
            white-space: nowrap;
            margin-bottom: 20px;
        }
        .home-quartier {
            .quartier-carousel {
                width: 100%;
                height: 750px;
                .diapos-container {
                    width: 100%;
                    height: 300px;
                }
                .description-container {
                    width: 100%;
                    height: 450px;
                    .controls {
                        width: 200px;
                        margin: auto;
                        padding-bottom: 25px;
                        .button-container {
                            position: static;
                            transform: translate(0);
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}