.Home {
    .home-quartier {
        margin-top: 100px;
        width: 100%;

        .title-section {
            position: relative;
            width: 100%;
            height: 300px;

            .background-title {
                margin: 0;
                position: absolute;
                left: 50%; 
                transform: translate(-50%);
                top: 0px;
                z-index: -1;
                color: #333333;
                opacity: 0.1;
                font-size: 200px;
                font-weight: 300;
                white-space: nowrap;
            }
            .title {
                margin: 0;
                position: absolute;
                left: 50%; 
                transform: translate(-50%);
                top: 150px;
                z-index: 1;
                color: black;
                font-size: 75px;
                font-weight: 400;
            }
        }

        .quartier-info-section {
            width: 100%;
            text-align: center;
            p {
                margin: auto;
                padding: 0;
                width: 600px;
            }
        }

        .quartier-carousel {
            margin-top: 25px;
            height: 700px;
            width: 1000px;
            margin: auto;

            .description-control-container {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 200px;
                width: 100%;
                background-color: #e0e0e0;
                opacity: 0.8;
            }

            .diapos-container {
                position: relative;
                height: 100%;
                width: 50%;
                overflow: hidden;
                float: left;
                .diapo {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .description-container {
                position: relative;
                width: 50%;
                height: 100%;
                float: right;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: #F8F8F8;
                .description {
                    position: relative;
                    height: 500px;
                    p {
                        width: 80%;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .controls {
                    height: 100px;
                    width: 100%;
                    .button-container {
                        position: absolute;
                        left: 50%; transform: translate(-50%);
                        bottom: 90px;
                        button {
                            background: none;
                            border-radius: 50%; border: none;
                            margin: 10px;
                            transition: background-color 0.25s, opacity 0.25s;
                            &:focus {
                                outline: 0;
                            }
                            i {
                                padding: 20px;
                            }
                            &:hover {
                                background-color: #E3E3E3;
                            }
                        }
                    }
                }
            }
        }
        
    }
}

@media only screen and (max-width: 1050px) {
    .Home {
        .home-quartier {
            .quartier-carousel {
                width: 100%;
                height: 750px;
                .diapos-container {
                    width: 100%;
                    height: 300px;
                }
                .description-container {
                    width: 100%;
                    height: 450px;
                    .controls {
                        width: 200px;
                        margin: auto;
                        padding-bottom: 25px;
                        .button-container {
                            position: static;
                            transform: translate(0);
                        }
                    }
                }
            }
        }
    }
}