.Home {
    .home-units {
        margin-top: 100px;
        height: 500px;

        .title-controls-container {
            height: 100%;
            width: 450px;
            float: left;
            position: relative;

            .background-title {
                margin: 0;
                position: absolute;
                left: 50px;
                top: 25px;
                z-index: -1;
                color: #333333;
                opacity: 0.1;
                font-size: 200px;
                font-weight: 300;
            }

            .title {
                margin: 0;
                position: absolute;
                left: 100px;
                top: 170px;
                z-index: 1;
                color: black;
                font-size: 75px;
                font-weight: 400;
            }

            .button-container {
                position: absolute;
                left: 50%; transform: translate(-50%);
                bottom: 90px;
                button {
                    background: none;
                    border-radius: 50%; border: none;
                    margin: 10px;
                    transition: background-color 0.25s;
                    &:focus {
                        outline:0;
                    }
                    i {
                        padding: 20px;
                    }
                    &:hover {
                        background-color: #e3e3e3;
                    }
                }
            }
        }
    
        .unit-carousel {
            height: 100%;
            width: 5000px;

            .unit {
                position: relative;
                display: inline-block;
                height: 100%;
                width: 500px;
                background-color: #e3e3e3;
                margin-right: 25px;

                img {
                    height: 400px;
                    width: 100%;
                    position: absolute;
                    top: 0; left: 0;
                    object-fit: cover;
                }
            }
        }
    }
}